* {
	box-sizing: border-box;
}
body,
.header ul {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
.container {
	max-width: 1200px;
	margin: auto;
	padding: 0 15px;
}
.container:before,
.container:after {
	display: block;
	content: "";
	clear: both;
}
.line{
	height: 3px;
	width: 120px;
}
/*HEADER*/
.header {
	background: url("../images/header.jpg") no-repeat center;
	background-size: cover;
	padding: 40px 0;
}
.header .social li {
	display: inline;
	padding-left: 30px;
}
.header .social ul {
	text-align: right;
}
.header .fa {
	font-size: 35px;
	color: #5b452d;
}
.social .fa:hover {
	color: #ffc802;
}
.header .little_title {
	padding-top: 250px;
	display: block;
	float: right;
	text-align: right;
}
.little_title h2 {
	font-size: 30px;
	color: #ffc802;
}
.little_title p:last-of-type {
	text-align: right;
	margin: 40px 0 3px;
}
.little_title p {
	color: #5b452d;
}
.little_title a:hover {
	color: #ffc802;
}
.picture_btn {
	text-decoration: none;
	font-weight: bold;
	color: #5b452d;
}
.little_title .line {
	background-color: #ffc802;
	float: right;
}
/*Admiration*/
.admiration {
	background: url("../images/admiration.jpg") no-repeat center;
	padding: 70px 0;
}
.admiration h2, h3, h4, p {
	color: #474c36;
}
.admiration p {
	text-align: justify;
	font-size: 12px;
}
.admiration_do p {
	margin: 0 0 0 60px;
}
.admiration .admiration_img {
	width: 40%;
	float: left;
}
.admiration h2 {
	font-size: 30px;
}
.admiration img {
	width: 100%;
}
.admiration .admiration_do {
	width: 50%;
	float: right;
}
.admiration_do .line{
	margin-left: 50px;
	background-color:#fff;
	width: 30%;
}
.admiration_do h3 {
	margin: 50px 0 3px 0;
	font-size: 25px;
}
.admiration_do h4 {
	margin: 15px 0 0 0;
	text-transform: uppercase;
}
.admiration_do ul {
	padding: 0;
	list-style-type: none;
}
.admiration_do .numberadm {
	padding-bottom: -10px;
	font-size: 28px;
}
/*Place*/
.groups {
	background: url("../images/groups.jpg") no-repeat center;
	padding: 100px 0;
	position: relative;
}
.groups h3, h5, a {
	color: #fcd93f;
}
.groups h6, .info, .fa-ravelry {
	color: #fff;
}
.groups h3 {
	margin: 0 0 3px 0;
}
.groups .line {
	margin-left: 30px;
	background-color: #fff;
	width: 100px;
}
.groups h4 {
	padding: 50px 0 50px 100px;
	font-size: 50px;
	color: #fcd93f;
}
.groups h5 {
	font-size: 20px;
}
.groups h6 {
	margin-bottom: 25px;
	font-size: 15px;
}
.groups .info {
	font-size: 13px;
	text-align: justify;
}
.groups .verline {
	margin: 8px 0 0 50px;
	height: 20px;
	width: 4px;
	background-color: #cfceca;
}
.groups #snakeEagles {
	color: #fcd93f;
}
.groups .snakeLine {
	background-color: #fcd93f;
}
.groups button {
	background-color: transparent;
	border: none;
	outline: none;
	width: 120px;
	color: #cfceca;
	font-size: 14px;
	cursor: pointer;
}
.groups button:hover {
	opacity: 0.2;
}
.groups .groups_name {
	width: 60%;
	float: left;
}
.groups i {
	font-size: 60px;
}
.groups a {
	text-decoration: none;
}
.groups a:hover {
	color: #fff;
}