* {
	box-sizing: border-box;
}
body,
.header ul {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
.container {
	max-width: 1200px;
	margin: auto;
	padding: 0 15px;
}
.container:before,
.container:after {
	display: block;
	content: "";
	clear: both;
}
/*HEADER*/
.header {
	/*background: url("../images/header.jpg") no-repeat center;*/
	background: url(../images/header2.jpg) 800px 0 no-repeat, url(../images/header.jpg) no-repeat;
	background-size: cover;
	padding: 200px 0;
}
.header h1 {
	font-size: 100px;
}
