* {
	box-sizing: border-box;
}
body,
.header ul {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
.container {
	max-width: 1200px;
	margin: auto;
	padding: 0 15px;
}
.container:before,
.container:after {
	display: block;
	content: "";
	clear: both;
}
.line{
	height: 3px;
	width: 180px;
}
/*HEADER*/
.header {
	background: url("../images/header.jpg") no-repeat center;
	background-size: cover;
	padding: 40px 0;
}
.header .social li {
	display: inline;
	padding-left: 30px;
}
.header .social ul {
	text-align: right;
}
.social .fa {
	font-size: 35px;
	color: #5b452d;
}
.social .fa:hover {
	color: #ffc802;
	transition: 0.3s;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	right: 0;
	padding: 5px 20px;
	min-width: 100px;
	background-color: transparent;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown:hover .dropdown-content {
	display: block;
}
.social a {
	text-decoration: none;
	color: #5b452d;
	font-size: 18px;
}
.social a:hover {
	color: #ffc802;
	transition: 0.3s;
}
.header .little_title {
	padding-top: 250px;
	text-align: right;
}
.little_title h2 {
	font-size: 30px;
	color: #ffc802;
}
.little_title p:last-of-type {
	margin: 40px 0 3px;
}
.little_title p {
	color: #5b452d;
}
.little_title a:hover {
	color: #ffc802;
}
.picture_btn {
	text-decoration: none;
	font-weight: bold;
	color: #5b452d;
}
.little_title .line {
	background-color: #ffc802;
	float: right;
}
/*Admiration*/
.admiration {
	background: url("../images/admiration.jpg") no-repeat center;
	padding: 70px 0;
}
.admiration h2, h3, h4, p {
	color: #474c36;
}
.admiration p {
	text-align: justify;
	font-size: 12px;
}
.admiration_do p {
	margin: 0 0 0 60px;
}
.admiration .admiration_img {
	width: 40%;
	float: left;
}
.admiration h2 {
	font-size: 30px;
}
.admiration img {
	width: 100%;
}
.admiration .admiration_do {
	width: 50%;
	float: right;
}
.admiration_do .line{
	margin-left: 50px;
	background-color:#fff;
	width: 30%;
}
.admiration_do h3 {
	margin: 50px 0 3px 0;
	font-size: 25px;
}
.admiration_do h4 {
	margin: 15px 0 0 0;
	text-transform: uppercase;
}
.admiration_do ul {
	padding: 0;
	list-style-type: none;
}
.admiration_do .numberadm {
	padding-bottom: -10px;
	font-size: 28px;
}
/*Groups*/
.groups {
	background: url("../images/groups.jpg") no-repeat center;
	padding: 100px 0;
	position: relative;
}
.groups h3, h5, a {
	color: #fcd93f;
}
.groups .small_ltr {
	color: #fcd93f;
}
.groups h6, .info, .fa-ravelry {
	color: #fff;
}
.groups h3 {
	margin: 0 0 3px 0;
}
.groups .line {
	margin-left: 30px;
	background-color: #fff;
	width: 100px;
}
.groups h4 {
	padding: 100px 0 100px 100px;
	font-size: 50px;
	color: #fcd93f;
}
.groups h5 {
	margin-bottom: 15px;
	font-size: 20px;
}
.groups h6 {
	margin: 20px 0 25px 0;
	font-size: 15px;
}
.groups_desc .small_ltr {
	font-size: 15px;
}
.groups .info {
	font-size: 13px;
	text-align: justify;
}
.groups .verline {
	margin: 8px 0 0 50px;
	height: 20px;
	width: 4px;
	background-color: #cfceca;
}
.groups #snakeEagles {
	color: #fcd93f;
}
.groups .snakeLine {
	background-color: #fcd93f;
}
.groups button {
	background-color: transparent;
	border: none;
	outline: none;
	width: 120px;
	color: #cfceca;
	font-size: 14px;
	cursor: pointer;
}
.groups button:hover {
	opacity: 0.2;
}
.groups .groups_name {
	width: 60%;
	float: left;
}
.groups i {
	font-size: 60px;
}
.groups a {
	text-decoration: none;
}
.groups_desc {
	position: relative;
}
.groups a:hover {
	position: absolute;
	color: #fff;
}
/*Etymology*/
.etymology {
	padding: 100px 0 600px 0;
	background-color: #f5f5f5;
}
.etymology .line {
	margin-left: 30px;
	background-color: #ffc802;
	width: 150px;
}
.etymology h2 {
	margin: 0 0 3px 0;
	color: #202b2f;
}
.etymology img {
	width: 100%;
	height: auto;
}
.etm_h3 {
	padding: 20px 20px 5px 20px;
	margin: 0;
	color: #202b2f;
}
.etm_p {
	padding: 5px 20px 30px 20px;
	margin: 0;
	text-align: justify;
	color: #566e78;
	font-size: 12px;
}
.etm_position {
	position: relative;
}

@media (max-width: 1200px) {}

@media (max-width: 1024px) {
	.header {
		padding: 38px 0;
	}
	.header .social li {
		padding-left: 28px;
	}
	.social .fa {
		font-size: 33px;
	}
	.dropdown-content {
		padding: 5px 18px;
	}
	.social a {
		font-size: 17px;
	}
	.header .little_title {
		padding-top: 220px;
	}
	.little_title h2 {
		font-size: 28px;
	}
}

@media (max-width: 768px) {
	.header {
		padding: 35px 0;
	}
	.header .social li {
		padding-left: 25px;
	}
	.social .fa {
		font-size: 30px;
	}
	.dropdown-content {
		padding: 4px 16px;
	}
	.social a {
		font-size: 16px;
	}
	.header .little_title {
		padding-top: 190px;
	}
	.little_title h2 {
		font-size: 26px;
	}
	.little_title p {
		font-size: 15px;
	}
}

@media (max-width: 640px) {
	.header {
		padding: 30px 0;
	}
	.header .social li {
		padding-left: 23px;
	}
	.social .fa {
		font-size: 27px;
	}
	.dropdown-content {
		padding: 3px 13px;
	}
	.social a {
		font-size: 15px;
	}
	.header .little_title {
		padding-top: 150px;
	}
	.little_title h2 {
		font-size: 23px;
	}
	.little_title p {
		font-size: 14px;
	}
}

@media (max-width: 480px) {
	.header {
		padding: 25px 0;
	}
	.header .social li {
		padding: 15px;
	}
	.header .social ul {
		padding: 0;
		text-align: center;
	}
	.social .fa {
		font-size: 25px;
	}
	.dropdown-content {
		padding: 3px 10px;
	}
	.dropdown-content p {
		margin: 5px 10px;
	}
	.social a {
		font-size: 14px;
	}
	.header .little_title {
		padding-top: 300px;
	}
	.little_title h2 {
		font-size: 20px;
	}
	.little_title p {
		font-size: 12px;
	}
	.little_title p:last-of-type {
		margin: 20px 0 3px;
	}
}

@media (max-width: 320px) {
	.header {
		padding: 20px 0;
	}
	.header .social li {
		padding: 10px;
	}
	.header .little_title {
		padding-top: 220px;
	}
	.little_title h2 {
		font-size: 18px;
	}
	.little_title p:last-of-type {
		margin: 15px 0 3px;
	}
}